.page {
  min-height: 100svh;
  font-family: var(--ff-primary), sans-serif;
  padding-block-end: 6rem;
}

.toDoInput {
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
  background-color: #FFF;
  margin-block-start: 2rem;
}

.toDoInput input {
  flex-grow: 1;
  padding-block: .75rem;
  padding-inline: .75rem;
  width: 100%;
  border: 0;
  border-block-end: 1px solid #CCC;
}

.toDoInput input:focus {
  outline: 0;
  border-block-end-width: 2px;
}

.toDoInput button {
  flex-grow: 1;
  padding-block: .5rem;
  padding-inline: 1rem;
  white-space: nowrap;
  border-radius: .25rem;
}

.toDoList {
  list-style-type: "";
  margin: 0;
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid #CCC;
  margin-block-start: 1rem;
}

.toDoList__item {
  padding-block: 1rem;
  border-block-end: 1px solid #CCC;
}

.toDoList__item label {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.toDoList__item input {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}